Screen {
    layout: horizontal;
}

.filetree {
    height: 100%;
    width: 30%;
    border: yellow;
}

.borderless {
    margin: 0 1;
}

.preview {
    height: 100%;
    width: 70%;
    border: yellow;
}

Button {
    margin: 0 1;
    width: 100%
}